.App{
  font-family: arial, sans-serif;
  color: #363636;
  line-height: 1.7;
  font-size: 14px;
  background: #e8ebf1;
  min-width: 1000px;
}
.container{
  width: 1000px;
  margin: 0 auto;
}
h4{
  font-size: 15px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
header .container{
  min-height: 120px;
  overflow: hidden;
  vertical-align: middle;
}
.logo{
  width: 170px;
  margin: 41px 0;
  float: left;
}
.nav-header{
  float: right;
}
.nav-header ul{
  list-style: none;
  padding: 13px 17px 0 0;
  max-width: 830px;
  height: 120px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.nav-header li{
  padding-left: 47px;
  display: inline-block;
}
.nav-header a{
  color: #000;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-header a:hover{
  color: #2aacc8;
}
.nav-header a:active{
  color: #c82a2a;
}
.promo{
  padding: 19px 0 40px;
  background: #81e4ed;
  border-top: 1px solid #6ec2ca;
}
.promo .container{
  height: 440px;
  background: url(./img/main-picture.jpg) 50% 50% no-repeat;
}
.promo h2{
  width: 370px;
  margin: 0;
  padding: 92px 0 0 62px;
  font-size: 50px;
  font-weight: normal;
  color: #fff;
  line-height: 1.2;
}
.container .items{
  margin: 60px 0 45px;
  line-height: 1.55;
  font-size: 13px;
  clear: both;
  display: flex;
  justify-content: space-between;
}
.items .item1, .items .item2, .items .item3, .items .item4{
  width: 220px;
  display: inline-block;
  vertical-align: top;
}
.items h4{
  margin: 0;
  padding: 6px 0 13px 10px;
}
.items .ico{
  position: relative;
  display: inline-block;
  padding-left: 50px;
  text-decoration: none;
}
.items i{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.items .item1 i{
  background: url(./img/ic-items.png) 0 0 no-repeat, #2aacc8;
}
.items .item2 i{
  background: url(./img/ic-items.png) -40px 0 no-repeat, #2aacc8;
}
.items .item3 i{
  background: url(./img/ic-items.png) -80px 0 no-repeat, #2aacc8;
}
.items .item4 i{
  background: url(./img/ic-items.png) -117px 0 no-repeat, #2aacc8;
}
.items .more{
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  color: #2aacc8;
  text-decoration: none;
  padding: 7px 0 0 15px;
  position: relative;
}
.items .more::before{
  content: "";
  position: absolute;
  top: 13px;
  left: 2px;
  width: 5px;
  height: 7px;
  background: url(./img/ic-arrow.png) 0 0 no-repeat;
}
.resources{
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background: #fff;
}
.resources .latest-works{
  position: relative;
  padding-left: 40px;
  margin-bottom: 13px;
}
.resources .latest-works::before{
  content: "";
  width: 14px;
  height: 24px;
  background: url(./img/ic-cursor.png) 0 0 no-repeat;
  position: absolute;
  top: 0;
  left: 1px;
}
.resources .works{
  font-size: 0;
  border-top: 1px solid #dfe1e5;
  padding: 20px 0;
}
.resources .works .work{
  margin-right: 40px;
}
.resources .works .work:last-child{
  margin-right: 0;
}
.resources .download{
  text-align: center;
  border-bottom: 1px solid #dfe1e5;
  padding: 13px 0 21px 17px;
}
.btn{
  width: 240px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  padding-left: 50px;
  border: 1px solid #2aacc8;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #0d0707;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
  background: url(./img/ic-download.png) 18px 15px no-repeat, #2aacc8;
  background: url(./img/ic-download.png) 18px 15px no-repeat, -moz-linear-gradient(top, #81e4ed 0%, #2daec9 100%), #2aacc8;
  background: url(./img/ic-download.png) 18px 15px no-repeat, -webkit-linear-gradient(top, #81e4ed 0%, #2daec9 100%), #2aacc8;
  background: url(./img/ic-download.png) 18px 15px no-repeat, linear-gradient(top, #81e4ed 0%, #2daec9 100%), #2aacc8;
}
.resources .testimonials{
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
}
.resources .testimonials::before{
  content: "";
  width: 24px;
  height: 23px;
  background: url(./img/ic-note.png) 0 0 no-repeat;
  position: absolute;
  top: 0;
  left: 1px;
}
.resources .author{
  padding: 12px 0 10px;
  font-weight: bold;
  font-style: italic;
}
footer{
  padding: 28px 0;
  min-height: 93px;
}
footer p{
  font-size: 13px;
  line-height: 1.4;
  margin: 0;
}